@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --primary: rgb(0, 140, 255);
    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.2rem;
}

.nav-links a, .navbar-brand {
    color: var(--white);
}

.right-nav-links {
    margin-left: auto;
}

.nav-links a {
    text-decoration: none;
    padding-left: .5rem;
}

.nav-links a:hover {
    color: var(--black);
}

.text-center {
    text-align: center;
}

.form-group {
    margin-top: 1.5rem;
}

.form-group label, .form-group input {
    width: 100%;
}

.form-group label {
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: .5rem;
}

.form-header {
    font-size: 2rem;
}

input[type='text'], input[type='password'], input[type='date'], textarea, select {
    padding: .6rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

input[type='text']:focus, input[type='password']:focus, textarea:focus {
    border: 1px solid var(--primary);
}

select {
    background-color: white;
}
textarea, select {
    width: 100%;
}

.btn {
    padding: .5rem 2rem .5rem 2rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border: 1px solid transparent;
}

.btn:hover, .btn:active {
    outline: none;
    border: 1px solid transparent;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn-danger {
    background-color: rgba(204, 24, 24, 0.89);
    color: var(--white);
}

.btn-danger:hover {
    background-color: rgba(204, 24, 24, 0.753);
    color: var(--white);
}

.btn-danger:active {
    background-color: rgba(204, 24, 24, 0.616);
}

.btn-primary:hover {
    border: 1px solid rgb(29, 153, 255);
    background-color: rgb(29, 153, 255);
}

.btn-primary:active {
    background-color: rgb(26, 133, 221);
}

.login-form {
    width: 26rem;
    margin: 3rem auto 1rem;
}

.active-link {
    color: yellow !important;
}

.container {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:hover {
    background-color: lightgray;
}

table, td, th {
    border: 1px solid lightgrey;
    text-align: center;
    padding: .5rem;
    margin-top: 1rem;
}

.text-bold {
    font-weight: bold;
}

.alert {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    color: white;
}

.alert-info {
    background-color: deepskyblue;
}

.alert-danger {
    background-color: crimson;
}
